# Env for the various service used by Project Fonos
# CONFIG=/opt/fonos/config
# EXTERN_ADDR=100.32.122.63
# API_EXTERNAL_HOST=api.fonoster.io
# API_EXTERNAL_PROTO=http
API_EXTERNAL_PORT=50051

# Auth service
AUTH_ACCESS_WHITELIST=/fonos.auth.v1alpha1.Auth/GetRole
AUTH_ISS=fonos

# Docker private registry information
DOCKER_REGISTRY_ORG=yourorg
DOCKER_REGISTRY_USERNAME=yourorg
DOCKER_REGISTRY_SECRET=changeit
DOCKER_REGISTRY=docker.io
DOCKER_REGISTRY_SERVICE=registry.docker.io
DOCKER_REGISTRY_AUTH_ENDPOINT=https://auth.docker.io/token

# API Server
AS_IMAGE=traefik:v2.4
AS_HOST=apiserver.fonos
AS_PORT=443
AS_ALLOW_INSECURE=true

# Asterisk based media server
MS_IMAGE=fonoster/fonos-mediaserver:latest
MS_ENDPOINT=sip:ast@node1
MS_SIP_PORT=6060
MS_RTP_PORT_START=10000
MS_RTP_PORT_END=20000
MS_TRUNK=routr
MS_CONTEXT=local-ctx
MS_EXTENSION=s
MS_ARI_USERNAME=admin
MS_ARI_SECRET=changeit
MS_ARI_AUTHORIZATION=YWRtaW46Y2hhbmdlaXQ=
MS_ARI_INTERNAL_URL=http://mediaserver:8088

# Redis database
DS_IMAGE=redis:6.0.3-alpine
DS_HOST=datasource.fonos
DS_PORT=6379
DS_SECRET=changeit

# Minio objects storage
FS_IMAGE=minio/minio:RELEASE.2020-02-27T00-23-05Z
FS_HOST=fs.fonos
FS_PORT=9000
FS_USERNAME=minio
FS_SECRET=minio123
FS_DEFAULT_STORAGE_BUCKET=default

# Routr sip server
SIPPROXY_IMAGE=fonoster/routr:1.0.0-edge-20210525.3
SIPPROXY_API_PORT=4567
SIPPROXY_SIP_PORT=5060
SIPPROXY_HOST=sipproxy.fonos
SIPPROXY_USERNAME=ast
SIPPROXY_SECRET=changeit
SIPPROXY_API_USERNAME=admin
SIPPROXY_API_SECRET=changeit

# Optional configuration for MaryTTS (recommended)
TTS_IMAGE=synesthesiam/marytts:5.2
TTS_ENGINE_HOST=tts.fonos
TTS_ENGINE_PORT=59125
TTS_BASE_URI=/tts

# Optional configuration for integration with FaaS
FUNCS_URL=https://faas:8080
FUNCS_USERNAME=admin
FUNCS_SECRET=changeit
FUNCS_WORKDIR=/home/fonos/funcs

# Optional configuration for logging
LOGS_AGGREGATOR_IMAGE=docker.elastic.co/elasticsearch/elasticsearch:7.9.3
LOGS_MONITOR_IMAGE=kibana:7.9.3
LOGS_DRIVER_IMAGE=fonoster/fluent-elasticsearch:latest
LOGS_DRIVER_HOST=logsdriver.fonos
LOGS_DRIVER_PORT=24224
LOGS_AGGREGRATOR_PORT=9200
LOGS_MONITOR_PORT=5601
LOG_OPT_TAG_PREFIX=early

# Optional configuration for integration with Vault
SECRETS_IMAGE=vault
SECRETS_URL=
SECRETS_TOKEN=
SECRETS_POLICY=fonos-policy

# Optional configuration for integration with RabbitMQ
EB_IMAGE=bitnami/rabbitmq:latest
EB_ENABLED=false
EB_HOST=eventsbroker.fonos
EB_PORT=5672
EB_USERNAME=fonos
EB_SECRET=changeit

# Miscelaneous configurations
COMPOSE_PROJECT_NAME=fonos
COMPOSE_PROJECT_VERSION=0.0.104
RESTART_POLICY=unless-stopped
NODE_ENV=dev