# shellcheck disable=SC2034

# Security
#
# Set these to strong secrets to avoid intruders from impersonating a service account
# The service(s) won't start unless these are specified
# Running ./gen-secrets.sh will update .env with strong passwords
# DO NOT reuse secrets
#

# Password for Asterisk ARI API
MS_ARI_SECRET=

# Username and password base64 encoded for external access to ARI API
MS_ARI_AUTHORIZATION=

# Password for Minio's clients connections 
# Note that if you have a managed S3 server(recommended) 
# you will have to set this manually
FS_SECRET=

# Password for Routr SIP registrations
SIPPROXY_SECRET=

# Password for Routr restful API
SIPPROXY_API_SECRET=

# Password for connections to Redis
# Note that if you have a managed Redis server(recommended) 
# you will have to set this manually
DS_SECRET=


#
# Basic configuration options
#

# External IP or Domain for your Fonoster API (required)
# Before going on production you must replace this with the
# TLS protected URL
#PUBLIC_URL=http://api.example.com:50051

# Exposed HTTP port
HTTP_PORT=50051

# Exposed HTTPS port (required)
HTTPS_PORT=443

# Directory where all configuration will be stored
CONFIG=/opt/fonoster/config

# IP address of the Docker host (required)
#DOCKER_HOST_ADDRESS=192.168.1.1

# IP address of the RTPEngine server (required)
# Tipically it is same as the DOCKER_HOST_ADDRESS
#RTPE_HOST=192.168.1.1

# Domain for which to generate the certificate
#LETSENCRYPT_DOMAIN=api.example.com

# E-Mail for receiving important account notifications (mandatory)
#LETSENCRYPT_EMAIL=alice@acme.com

# Whitelisted services (comma separated)
AUTH_ACCESS_WHITELIST=/fonoster.auth.v1beta1.Auth/GetRole,/fonoster.users.v1beta1.Users/CreateUser,/fonoster.auth.v1beta1.Users/CreateUserCredentials

# Issuer for JWT claims
AUTH_ISS=fonoster

# Hostname for reverse proxy
AS_HOST=apiserver.fonoster

# Allow non-tls connection (this only applies to internal communication)
AS_ALLOW_INSECURE=true

#
# Media Server integration (Asterisk)
#
MS_ENDPOINT=sip:ast@node1
MS_SIP_PORT=6060
MS_RTP_PORT_START=20000
MS_RTP_PORT_END=21000
MS_TRUNK=routr
MS_CONTEXT=local-ctx
MS_EXTENSION=s
MS_ARI_USERNAME=ari
MS_ARI_INTERNAL_URL=http://mediaserver:8088

#
# Integration with media proxy (RTPEngine) 
# (required)
#
RTPE_PORT=8080
RTPE_RTP_PORT_START=30000
RTPE_RTP_PORT_END=31000

#
# Integration with S3 server (Minio)
# We run an S3 server instance based on Minio to help you
# get started. However, we strongly recommend using a managed
# S3 service with your prefer cloud service provider
#
FS_HOST=fs.fonoster
FS_PORT=9000
FS_USERNAME=minio

#
# Database integration (with Redis)
# Redis at the moment is only used by the SIPProxy
# We run the database service by default to help you
# get started. However, we strongly recommend using a managed
# database.
#
DS_HOST=datasource.fonoster
DS_PORT=6379

#
# Integration with SIPProxy (Routr)
#
SIPPROXY_USERNAME=ast
SIPPROXY_API_HOST=sipproxy.fonoster
SIPPROXY_HOST=sipproxy.fonoster
SIPPROXY_API_PORT=4567
SIPPROXY_API_USERNAME=admin
SIPPROXY_SIP_PORTS=5060-5063
SIPPROXY_SIP_PORT_UDP=5060

# Single port for connection from Peers (Such as the Media Server)
SIPPROXY_SIP_PORT=5060

# If set, any new domain will be a subdomain under this global domain
# GLOBAL_SIP_DOMAIN=fonoster.io

#
# Configuration to logging service (Based on Kibana)
#
LOGS_DRIVER_HOST=logsdriver.fonoster
LOGS_DRIVER_PORT=24224
LOGS_AGGREGRATOR_HOST=logsaggregator.fonoster
LOGS_AGGREGRATOR_PORT=9200
LOG_OPT_TAG_PREFIX=early


#
# Integration with events server (RabbitMQ)
#
EB_HOST=eventsbroker.fonos
EB_PORT=5672
EB_USERNAME=fonoster
EB_SECRET=
# Enables sending events to RabbitMQ
EB_ENABLED=false

#
# Integration with secrets server (Vault)
#
SECRETS_URL=http://secrets:8200
SECRETS_POLICY=fonoster-policy
SECRETS_TOKEN=


#
# Integration with TTS Service (MaryTTS)
#
TTS_ENGINE_HOST=tts.fonoster
TTS_ENGINE_PORT=59125
TTS_BASE_URI=/tts

#
# Integration with Rox Connector
#
VOICE_HOST=voice.fonoster

#
# OpenFaas integration (for Cloud Funcions)
#

# Domain where your functions server lives
#FUNCS_URL=https://faasd.yourdomain.net:8080

# Temporary folder for new image creation
#FUNCS_WORKDIR=/home/fonoster/funcs

# Username at functions server
#FUNCS_USERNAME=admin

# Secrets at functions server
#FUNCS_SECRET=


#
# Docker registry integration (for container creation and upload)
#
#DOCKER_REGISTRY_ORG=yourorg
#DOCKER_REGISTRY_USERNAME=yourorg
#DOCKER_REGISTRY_SECRET=
#DOCKER_REGISTRY=docker.io
#DOCKER_REGISTRY_SERVICE=registry.docker.io
#DOCKER_REGISTRY_AUTH_ENDPOINT=https://auth.docker.io/token

#
# Miscelaneous variables
#

# Name of the overall project
COMPOSE_PROJECT_NAME=fonoster

# Overall version for the project
# This variable will determine which docker
# image is downloaded for FN services
COMPOSE_PROJECT_VERSION=0.2.36

# Restart policy for containers
RESTART_POLICY=unless-stopped

# Node environment variable 
NODE_ENV=staging
