node_modules/
.env*
!.env.example
!.env.example.dev
*.log
reporting/*
out/*
dist
coverage
.nyc_output
.keys
*.tsbuildinfo
tsconfig.tsbuildinfo
integrations.json
config/assistant*
!assistant.example.json
.next
next-env.d.ts
.npmrc