## -----------------------------------------------
## Fonoster, Inc. (https://app.fonoster.com)
## -----------------------------------------------

# Current environment - (development, production)
# This is used to determine the environment in which the application is running.
NODE_ENV=development

# Indicates if the application is running in production mode
# This is used to enable/disable certain features in the application.
#
# e.g. (community, cloud)
DASHBOARD_EDITION=community

## -----------------------------------------------
## API
## -----------------------------------------------

# The API URL - this is used to connect to the Fonoster API
DASHBOARD_API_URL=https://api.fonoster.com

## -----------------------------------------------
## Authentication - GitHub OAuth
## -----------------------------------------------

# GitHub OAuth - this is used to enable GitHub authentication
DASHBOARD_AUTH_GITHUB_ENABLED=true

# The GitHub OAuth client ID - this is used to identify the application to GitHub
DASHBOARD_AUTH_GITHUB_CLIENT_ID=

# The GitHub OAuth URL - this is used to redirect the user to GitHub for authentication
DASHBOARD_AUTH_GITHUB_URL=https://github.com/login/oauth/authorize

# The GitHub OAuth callback URL - this is used to redirect the user back to the application after authentication
DASHBOARD_AUTH_GITHUB_CALLBACK_URL=https://app.fonoster.com/oauth/github/callback

## -----------------------------------------------
## Authentication - Session
## -----------------------------------------------

# The session secret - this is used to sign the session ID cookie
SERVER_DASHBOARD_SESSION_SECRET=9c9e47da019d109bf40e110004c54dab9fa05c411951d7f18a39baa2cc9f6996

# The reset password URL - this is used to redirect the user to the reset password page
DASHBOARD_RESET_PASSWORD_URL=https://app.fonoster.com/auth/reset-password