## -----------------------------------------------
## Fonoster, Inc. (https://app.fonoster.com)
## -----------------------------------------------

# Current environment - (development, production)
# This is used to determine the environment in which the application is running.
NODE_ENV=development

# Indicates if the application is running in production mode
# This is used to enable/disable certain features in the application.
#
# e.g. (community, cloud)
VITE_DASHBOARD_EDITION=community

## -----------------------------------------------
## API
## -----------------------------------------------

# The API URL - this is used to connect to the Fonoster API
VITE_DASHBOARD_API_URL=https://api.fonoster.com

## -----------------------------------------------
## Authentication - GitHub OAuth
## -----------------------------------------------

# GitHub OAuth - this is used to enable GitHub authentication
VITE_DASHBOARD_AUTH_GITHUB_ENABLED=true

# The GitHub OAuth client ID - this is used to identify the application to GitHub
VITE_DASHBOARD_AUTH_GITHUB_CLIENT_ID=

# The GitHub OAuth URL - this is used to redirect the user to GitHub for authentication
VITE_DASHBOARD_AUTH_GITHUB_URL=

## -----------------------------------------------
## Authentication - Session
## -----------------------------------------------

# The session secret - this is used to sign the session ID cookie
VITE_DASHBOARD_SESSION_SECRET=9c9e47da019d109bf40e110004c54dab9fa05c411951d7f18a39baa2cc9f6996