name: publish asterisk

on:
  push:
    branches:
      - main
    paths:
      - 'asterisk/**'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Publish Asterisk to Docker Hub
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: fonoster/asterisk   
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          context: asterisk
          dockerfile: Dockerfile
          # TODO: We should get the actual version of Asterisk
          tags: "latest, 20"
          platforms: linux/amd64,linux/arm64